* {
    box-sizing: border-box;
}

form {
    background-color: #f8f8f8;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.input {

    width: 100%;
    padding: 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.button {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background-color: #428d70;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.button:hover {
   background-color: #499a7b;
}